<link rel="stylesheet" href="/resources/css/publish/style.css"/>
<meta http-equiv="X-UA-Compatible" content="iE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<div class="mainContainer">
	<!-- 헤더바 -->
	<div class="headerBar headTopBg">
		<div class="headerBarMenu">
			<img src="/resources/image/main/menu_img.png">
		</div>
		<div class="headerBarTitle">
			<span class="headLogoTitle">Hanmaru</span>
		</div>
		<div class="headerBarMove approval_attach">

		</div>
		<div class="headerBarSearch approval_search">
			
		</div>
		<!-- <div class="headerUnderBar"></div> -->
		
	</div>
	<div class="mainNaviBar">
		<ul>
			<li><a>메인</a></li>
			<li><a>워크 다이어리</a></li>
			<li><a>전자메일</a></li>
			<li><a>전자결재</a></li>
			<li><a>게시판</a></li>
			<li><a>조직도</a></li>
			<li><a>자원예약</a></li>
		</ul>
	</div>
	<div class="mainContentsDiv">
		<div class="mainVisualWrap">
			<span class="mainVisualTitle">한라그룹, 인도네시아 강진피해 성금 10만달러 지원</span>
		</div>
		<div class="contentsSlideDiv">
			<div class="contentsSlideWrap">
				<div class="contentsSlideBox">
					<img src="/resources/image/main/contents_slide01.png">
					<p>한라그룹, '운곡(雲谷)<br/> 정인영 명예회장 12주기 추모행사'</p>
					
				</div>
				<div class="contentsSlideBox">
					<img src="/resources/image/main/contents_slide01.png">
					<p>한라그룹, '운곡(雲谷)<br/> 정인영 명예회장 12주기 추모행사'</p>
					
				</div>
				<div class="contentsSlideBox">
					<img src="/resources/image/main/contents_slide01.png">
					<p>한라그룹, '운곡(雲谷)<br/> 정인영 명예회장 12주기 추모행사'</p>
					
				</div>
				<div class="contentsSlideBox">
					<img src="/resources/image/main/contents_slide01.png">
					<p>한라그룹, '운곡(雲谷)<br/> 정인영 명예회장 12주기 추모행사'</p>
					
				</div>
				<div class="contentsSlideBox">
					<img src="/resources/image/main/contents_slide01.png">
					<p>한라그룹, '운곡(雲谷)<br/> 정인영 명예회장 12주기 추모행사'</p>
					
				</div>
				<div class="contentsSlideBox">
					<img src="/resources/image/main/contents_slide01.png">
					<p>한라그룹, '운곡(雲谷)<br/> 정인영 명예회장 12주기 추모행사'</p>
					
				</div>
				<div class="contentsSlideBox">
					<img src="/resources/image/main/contents_slide01.png">
					<p>한라그룹, '운곡(雲谷)<br/> 정인영 명예회장 12주기 추모행사'</p>
					
				</div>
			</div>
		</div>
		<div class="mainNoticeDiv">
			<div class="mainNoticeWrap">
				<span>Notice</span>
				<a><img src="/resources/image/main/ic_more_normal.png"></a>
			</div>
			<div class="mainNoticeList">
				<div class="noticeListWrap">
					<ul>
						<li><a>★[2018 워크투게더] 10/22(월), 4번째 찾한 걸음이 시작됩니다.</a></li>
						<li><a>♡HALLA 가족 이벤트 & 개관기념행사♡</a></li>
						<li><a>제주 세인트 포 [가을] 프로모션 안내</a></li>
						<li><a>제주 세인트 포 [9월] 프로모션 안내</a></li>
						<li><a>★중학생 자녀의 진로가 고민이라면? '한라그룹 비스캣 캠프' 참가자 모집!</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="mainHallaRoadDiv">
			<div class="mainHallaRoadWrap">
				<span>한라路</span>
				<a><img src="/resources/image/main/ic_more_normal.png"></a>
			</div>
			<div class="mainHallaRoadList">
				<div class="hallaRoadListWrap">
					<ul>
						<li><a>Vol.31 - Fact Finding : 확인하고, 확인하고 또 확인하라</a></li>
						<li><a>Vol.30 - 보안이 최고의 경쟁력이다</a></li>
						<li><a>Vol.29 - 말이 곧 인격이다</a></li>
						<li><a>Vol.28 - 정도가 우리를 당당하게 만든다</a></li>
						<li><a>Vol.27 - 제대로 지시하고, 제대로 알아듣자</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>