<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" href="../inc/css/common.css">
	<link rel="stylesheet" href="../inc/css/contents.css">
	<script type="text/javascript" src="../inc/js/lib/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../inc/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="../inc/js/lib/slick.min.js"></script>
</head>
<body>
	<!-- wrap -->
	<div id="wrap">
		<!-- header -->
		<div id="header">
			<p class="tit"><a href="#none;">지식공유</a></p>
			<button type="button" class="btnNavOpen">메뉴 열기</button>
			<button type="button" class="btnSearch">검색</button>
		</div>
		<!-- //header -->

		<!-- nav -->
		<div id="navWrap">
			<div class="nav">
				<div class="navTop">
					<p class="logo">한라 튜브</p>
					<ul class="util">
						<li class="message on"><a href="#none;">메시지</a></li> <!-- // 메시지 있을 경우 on클래스 추가, 없을 경우 삭제 -->
						<li class="option"><a href="#none;">설정</a></li>
					</ul>
					<div class="memberInfo">
						<div class="profileImg">
							<p class="img"><img src="../inc/images/common/img_profile_default.png" alt=""></p>
						</div>
						<div class="txtWrap">
							<p class="name"><span>유현주</span> <em>프로</em></p>
							<p class="department"><span>한마루 운영파트</span> / <span>한라홀딩스</span></p>
						</div>
					</div>
				</div>
				<div class="menuWrap">
					<div class="menu">
						<ul class="dep1">
							<li class="menu01">
								<a href="#none;">
									<img src="../inc/images/common/icon_nav_menu01_off.png" alt="">
									<span>메인</span>
								</a>
							</li>
							<li class="menu02">
								<a href="#none;">
									<img src="../inc/images/common/icon_nav_menu02_on.png" alt="">
									<span>뉴스 H</span>
								</a>
							</li>
							<li class="menu03">
								<a href="#none;">
									<img src="../inc/images/common/icon_nav_menu03_off.png" alt="">
									<span>스토리 H</span>
								</a>
							</li>
							<li class="menu04">
								<a href="#none;">
									<img src="../inc/images/common/icon_nav_menu04_off.png" alt="">
									<span>지식 H</span>
								</a>
							</li>
							<li class="menu05">
								<a href="#none;">
									<img src="../inc/images/common/icon_nav_menu05_off.png" alt="">
									<span>공감 H</span>
								</a>
							</li>
							<li class="menu06">
								<a href="#none;">
									<img src="../inc/images/common/icon_nav_menu06_off.png" alt="">
									<span>메뉴5</span>
								</a>
							</li>
							<li class="menu07">
								<a href="#none;">
									<img src="../inc/images/common/icon_nav_menu07_off.png" alt="">
									<span><img src="../inc/images/common/logo_hanmaru.png" alt=""></span>
								</a>
							</li>
						</ul>
					</div>

					<div class="sub">
						<ul class="dep2">
							<li><a href="#none;">한라뉴스</a></li>
							<li class="on"><a href="#none;">한라로</a></li>
							<li><a href="#none;">현장소식</a></li>
							<li><a href="#none;">업계동향</a></li>
							<li><a href="#none;">뉴스 H-5</a></li>
						</ul>
					</div>
				</div>
				<div class="quickMenu">
					<ul>
						<li class="menu01">
							<a href="#none;">
								<img src="../inc/images/common/icon_nav_quick01.png" alt="">
								<span>한라튜브 소개</span>
							</a>
						</li>
						<li class="menu02">
							<a href="#none;">
								<img src="../inc/images/common/icon_nav_quick02.png" alt="">
								<span>콘텐츠 편성표</span>
							</a>
						</li>
						<li class="menu03">
							<a href="#none;">
								<img src="../inc/images/common/icon_nav_quick03.png" alt="">
								<span>콘텐츠 제안</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //nav -->

		<!-- searchWrap -->
		<div id="searchWrap">
			<div class="inner">
				<input type="text" placeholder="검색어를 입력하세요">
				<button type="button" class="btnSrchClose"></button>
			</div>
		</div>
		<!-- //searchWrap -->

		<!-- container -->
		<div id="container">
			<div class="contents">
				<div class="thumbListWrap">
					<ul class="thumbList">
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">2020년도 상반기 한라그룹(만도) 신입사원 입사 환영회 현장</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">전문 프리젠터 채자영이 전하는 실전 프리젠테이션 노하우</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">회사 이름이 어렵다고요? 만도 헬라일렉트로닉스입니다.</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">한라의 찰나 - 한라건설 찾아가 한라인을 담는 이진환 포토그래퍼</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">한터뷰, 은밀한 TMI가 시작됐다. 이번시간에는 인사 전문가를 모시고 인터뷰..</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">한라인에게  새로운 상식과 계열사의 알찬 정보까지 드리는 한라 퀴즈쇼</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">2020년도 상반기 한라그룹(만도) 신입사원 입사 환영회 현장</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">전문 프리젠터 채자영이 전하는 실전 프리젠테이션 노하우</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">회사 이름이 어렵다고요? 만도 헬라일렉트로닉스입니다.</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#none;">
								<div class="thumb">
									<p class="img"><img src="../inc/images/temp/@img_thumb06.jpg" alt=""></p>
								</div>
								<div class="txtWrap">
									<p class="tit">한라의 찰나 - 한라건설 찾아가 한라인을 담는 이진환 포토그래퍼</p>
									<div class="info">
										<p class="date">2020-01-20</p>
										<p class="like"><span>200</span></p>
									</div>
								</div>
							</a>
						</li>
					</ul>

					<div class="paging">
						<a href="#none;" class="first">처음</a>
						<a href="#none;" class="prev">이전</a>
						<a href="#none;" class="on">1</a>
						<a href="#none;">2</a>
						<a href="#none;">3</a>
						<a href="#none;">4</a>
						<a href="#none;">5</a>
						<a href="#none;" class="next">다음</a>
						<a href="#none;" class="last">마지막</a>
					</div>
				</div>
			</div>

			<button type="button" class="btnTop">Top</button>
		</div>
		<!-- //container -->

		<!-- footer -->
		<div id="footer">
			<div class="inner">
				<p class="logo">한라</p>
				<ul class="footerMenu">
					<li><a href="#none;">한라튜브 소개</a></li>
					<li><a href="#none;">콘텐츠 편성표</a></li>
					<li><a href="#none;">콘텐츠 제안</a></li>
				</ul>
				<p class="copy">Copyright &copy; HALLA Corp. All rights reserved.</p>
			</div>
		</div>
		<!-- //footer -->
	</div>
	<!-- //wrap -->

	<!-- 검색 경고창 얼럿 -->
	<div id="searchAlert" class="layerpop alert">
		<div class="inner">
			<div class="txtWrap">
				<img src="../inc/images/common/logo.png" alt="Halla Tube">
				<p class="txt">검색어를 입력하세요</p>
			</div>
			<div class="btnWrap">
				<button type="button" class="btnConfirm">확인</button>
			</div>
			<button type="button" class="btnLayerClose">팝업 닫기</button>
		</div>
	</div>
	<!-- //검색 경고창 얼럿 -->

	<div class="dim"></div>

	<script type="text/javascript" src="../inc/js/ui.js"></script>
</body>
</html>