<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Document</title>
	<link rel="stylesheet" href="../inc/css/common.css">
	<link rel="stylesheet" href="../inc/css/contents.css">
	<script type="text/javascript" src="../inc/js/lib/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../inc/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="../inc/js/lib/slick.min.js"></script>
</head>
<body>
	<!-- wrap -->
	<div id="popWrap">
		<div class="popHead">
			<h1>미리보기</h1>
			<button type="button" class="btnPopClose">팝업 닫기</button>
		</div>
		<div class="popBody">
			<div class="viewWrap">
				<div class="viewHeader">
					<div class="headline">
						<h2 class="tit">한라그룹 커뮤니케이션 채널 '한라튜브' 오픈</h2>
					</div>
					<div class="info">
						<ul>
							<li><span>2019-10-15</span> <span>오전 07:07</span></li>
						</ul>
					</div>
				</div>

				<div class="viewContainer">
					<div class="txtWrap">
						<p>
							한라그룹이 사내 커뮤니케이션을 확대, 10만여 임직원이 실시간으로 양방향 온라인 소통에 나선다.<br><br>
							
							10일 한라그룹에 따르면 오는 0월부터 사내커뮤니케이션 공감 미디어 '한라튜브'를 오픈한다. 이는 임직원들의 새로운 커뮤니케이션 통로로 자유로운 소통에 초점을 맞췄다.
						</p>

						<p class="img"><img src="../inc/images/temp/@img_news_view.jpg" alt=""></p>

						<p>
							인터넷과 모바일 플랫폼에 기반한 '한라튜브'는 24시간 실시간으로 임직원들의 커뮤니케이션 채널로 자리잡고, 회사 소식뿐만 아니라 임직원들 간의 대표적인 소통창구 역할도 함께 담당한다.<br><br>

							한라그룹이 사내 커뮤니케이션 채널을 전면 개편한 것은 사업확대 등으로 임직원수와 국내외 사업장이 늘어났기 때문이다. 그룹의 경영철학을 실시간으로 공유하고 계열사간 시너지를 도모할 수 있도록 사내 커뮤니케이션 채널을 전면 개편한 것이다.<br>
							또한, 한라그룹은 디지털에 기반한 콘텐츠 제공으로 그룹의 핵심가치 및 일류정신을 효과적으로 전파하고, PC나 개인 모바일을 통해 시공간의 제약 없이 회사와 개인간의 공감대가 강화될 것으로 기대하고 있다.<br><br>

							아울러 '한라튜브' 는 회사 뉴스 외에도 조직문화와 자기개발에 도움이 될 만한 다양한 콘텐츠를 제작해 실시간으로 업데이트 할 예정이다. 주요 콘텐츠는 '뉴스 H, 커리어 H, 스토리 H, 이벤트 H'등 4가지 테마로 구성된 다. 직원들이 직접 뉴스 콘텐츠를 생산할 수도 있고, 의견을 나눌 수도 있다.
						</p>
					</div>
					<div class="btnWrap">
						<a href="#none;" class="btnFlatGray">목록보기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //wrap -->

	<script type="text/javascript" src="../inc/js/ui.js"></script>
</body>
</html>