<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HallaOn</title>
  
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="iE-edge">
	
	<link rel="stylesheet" href="/resources/video/css/contents.css">
	<link rel="stylesheet" href="/resources/video/css/common.css">
	
	<script type="text/javascript" src="/resources/video/js/lib/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/resources/video/js/lib/TweenMax.min.js"></script>
	<script type="text/javascript" src="/resources/video/js/lib/slick.min.js"></script>
	
    <script src="/resources/script/lib/angular/angular.min.js"></script>
    <script src="/resources/script/lib/angular/angular-route.min.js"></script>
  
    <script type="text/javascript" src="/resources/video/controller/videoRouterApp.js"></script>
    
    <script type="text/javascript" src="/resources/video/controller/videoMainController.js"></script>
    <script type="text/javascript" src="/resources/video/controller/videoEmpathyController.js"></script>
    <script type="text/javascript" src="/resources/video/controller/videoIntroduceController.js"></script>
    <script type="text/javascript" src="/resources/video/controller/videoKnowledgeController.js"></script>
    <script type="text/javascript" src="/resources/video/controller/videoNewsController.js"></script>
    <script type="text/javascript" src="/resources/video/controller/videoSuggestController.js"></script>
  
  	<!-- <script type="text/javascript" src="/resources/video/js/ui.js"></script> -->
</head>
	
<body ng-app="videoApp">
	<ng-view></ng-view>
    <!-- <ui-view></ui-view> -->
</body>
</html>