<div class="workDiaryContainer" ng-controller="planListController">
	<!-- 헤더바 -->
	<div class="headerBar">
		<div class="headerBarMenu" ng-click="slideMenuClick($event,true)">
			<img src="/resources/image/ic-menu.png">
		</div>
		<div class="headerBarTitle">
			<span>{{translateLanguage('work_plan_list')}}</span>
		</div>
		<div class="headerBarSearch workDiarySearch" ng-click="planSearchBtn($event)">
			<img src="/resources/image/mail_ic-search.png">
		</div>
		<div class="headerBarSend workDiaryWrite" ng-click="callWorkListTemplete($event)">
			<img src="/resources/image/work_diary/ic-writing.png">
		</div>
		<div class="headerUnderBar "></div>
	</div>
	
	<!-- Search -->
	<!-- <div class="diaryListSearchDiv" ng-show="isShowPlanSearch">
		<div class="diaryListRecentTime">
			<div class="diaryListFirstTime" ng-click="chooseSearchDate('start')">
				<input type="text" class="txtDateSearch" readonly="readonly" ng-model="txtSearchStart">
				<img src="/resources/image/calendar.png">
			</div>
			<div class="diaryListSecondTime" ng-click="chooseSearchDate('end')">
				<input type="text" class="txtDateSearch" readonly="readonly" ng-model="txtSearchEnd">
				<img src="/resources/image/calendar.png">
			</div>
		</div>
		<div class="diaryListSelectOption">
			<div class="diaryListSelectWrap">
				<select name="diarySelectName" class="diaryListSelectMenu" ng-model="searchType" ng-change="applySearchType(searchType)">
				<option ng-repeat="type in SearchTypeOptions" value="{{type.name}}">{{type.value}}</option>
			</select>
			</div>
			<div class="diaryListSearchKeyword">
				<input type="text" ng-model="planSearchValue">
				<img src="/resources/image/board/ic_search_normal.png" ng-click="planSearching()">
			</div>
		</div>
	</div> -->
	
	<div class="diaryListSearchDiv"  ng-show="isShowPlanSearch == true">
		<div class="diaryListRecentTime">
			<div class="diaryListFirstTime" ng-click="chooseSearchDate('start')">
				<img src="/resources/image/ic-calendar.png">
				<input type="text" class="txtDateSearch" ng-model="txtSearchStart" ng-trim="true" readonly>
			</div>
			<div class="diarySwungDash">~</div>
			<div class="diaryListSecondTime" ng-click="chooseSearchDate('end')">
				<img src="/resources/image/ic-calendar.png">
				<input type="text" class="txtDateSearch" ng-model="txtSearchEnd" ng-trim="true" readonly>
			</div>
		</div>
		
		<div class="diaryListSelectOption">
			<div class="approvalSearchOption" ng-click="searchTypeOption()">
				<ul class="approvalSearchSelect">
					<li class="approvalSelectFirst">
						<span class="selectFirstName">{{searchType.name}}</span>
						<img src="/resources/image/mail/ic-select-arrow-bottom.png">
						<ul class="selectSearch" ng-show="searchOptionShow == true">
							<li class="selectSearchList" ng-repeat="type in SearchTypeOptions" value="{{type.name}}" ng-click="applySearchType($index,type)">
								<span class="selectListTxt" ng-class="{'selected' : curSearchType == $index}">{{type.name}}</span>
								<img src="/resources/image/ic_check_select.png" ng-show="curSearchType == $index">
							</li>
						</ul>	
					</li>
				</ul>
			</div>
			<div class="approvalSearchKeyword">
				<input type="text" placeholder="검색어 입력"  ng-model="planSearchValue">
				<button ng-click="planSearching()">{{translateLanguage('search')}}</button>
				<!-- ng-model="SearchValue" ng-trim="true"
				ng-click="btnSearchMail()" -->
			</div>		
		</div>
	</div>
	
	
	<div class="workPlanListBack" ng-show="isShowPlanSearch == true || isShowTempleteDlg == true" ng-click="closePlanDlg()"></div>
	
	<!-- 템플릿 선택(내작업) 다이얼로그 시작 -->
	<div class="dialogTemplateSelect" ng-show="isShowTempleteDlg == true">
		<div class="dialogTemplateSelectTop">
			<span>{{translateLanguage('template_select')}}</span>
			<img src="/resources/image/ic-delete.png" ng-click="closePlanDlg()">
		</div>
		<div class="dialogTemplateSelectWrap">
			<div class="dialogTemplateSelectContents">
				<div class="dialogTemplateList" ng-repeat="template in templateList" ng-click="selectTemplate($index,template)">
					<img src="/resources/image/selectbox-circle-on.png" ng-show="curIdx == $index">
					<img src="/resources/image/selectbox-circle-off.png" ng-show="curIdx != $index">
					<span>{{template.DisplayName}}</span>
				</div>
			</div>
		</div>
		<div class="dialogTemplateCheck">
			<div class="dialogTemplateBtn" ng-click="applyTemplate()">
				<a><span class="dialogTemplateAction" >{{translateLanguage('apply')}}</span></a>
			</div>
		</div>
	</div>
	<!-- 템플릿 선택(내작업) 다이얼로그 끝 -->
	
	<div class="workDiaryDataVoid" ng-show="planList.length <= 0">
		<span class="workDiarySearchResult">{{translateLanguage('warn_empty_message')}}</span>
		<span class="searchResultBlank"></span>
	</div>
	
	<div class="planListDiv">
		<div class="planListContents" exec-on-scroll-to-bottom="readPlanNextPage">
			<div class="planListLabel" ng-repeat="planListItem in planList" ng-click="movePlanView($event,planListItem)">
				<span class="planListTitle">{{planListItem.Title}}</span>
				<div class="planListInfo">
					<p>{{planListItem.RegUserName}}</p>
					<span>{{planListItem.StartDate}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="planWriteBtn" ng-click="callWorkListTemplete($event)">
		<span>{{translateLanguage('work_plan_write')}}</span>
	</div>
</div>