<div class="login_renewal_wrapper" id="LoginController" ng-controller="loginController"  sideMenuswipe="cancel">
	<div class="login_renewal_back" ng-show="isShowLoginPopup == true || isShowPinInputPopup == true"></div>
	
	<div class="login_renewal_top_bg_wrapper" ng-style="loginImageUrl != '' && {'background-image':'url('+loginImageUrl+')'}">
		
	</div>
	<div class="wrap_login_renewal_area">
		<div class="subwrap_login_renewal_area">
			<div class="subwrap_login_renewal_btn">
				<a class="subwrap_login_renewal_btn_simple " ng-class="{'check_btn' : isPinLogin == true}" 
				ng-click="selectPinLoginBtn(true)">{{translateLanguageLoginPage('simple_login')}}</a>
				<a class="subwrap_login_renewal_btn_basic " ng-class="{'check_btn' : isPinLogin == false}" 
				ng-click="selectPinLoginBtn(false);autoLoginCheck=false;AutoLoginCheckChange(false)">{{translateLanguageLoginPage('general_login')}}</a>
			</div>
			
			<div class="wrap_simple_login_renewal_elem" ng-show="isPinLogin == true">
				<div class="simple_login_contents_elem">
					<p class="simple_passwd_write_label">{{translateLanguageLoginPage('setting_pin_password')}}</p>
					<div class="simple_passwd_write_box" ng-click="performClickPinLogin($event)">
						<input type="number" class="passwd_input_box_write" id="login_pin_number" maxlength="6" 
							ng-focus="doFocusLayout()" ng-blur="doBlurLayout()" 
							pattern="[0-9]*" inputmode="numeric" min="0"
							>
						<span class="simple_passwd_write_circle"></span> <!-- check_write_circle -->
						<span class="simple_passwd_write_circle"></span>
						<span class="simple_passwd_write_circle"></span>
						<span class="simple_passwd_write_circle"></span>
						<span class="simple_passwd_write_circle"></span>
						<span class="simple_passwd_write_circle"></span>
					</div>
				</div>
			</div>
			
			<div class="wrap_login_renewal_elem" ng-show="isPinLogin == false">
				<div class="wrap_login_renewal_elem_box">
					<p class="login_renewal_elem_box_loginlabel">Login ID</p>
 					<div class="login_renewal_elem_box_write">
	 					<input type="text" ng-model="general_id" placeholder="{{translateLanguageLoginPage('hallam_require_user_id')}}" class="login_renewal_box_write"
	 						ng-focus="doFocusLayout()" ng-blur="doBlurLayout()">
	 					<span class="login_renewal_elem_email" ng-click="toggleDomainPopup()">@{{generalLogin_domain}}</span>
	 					
	 					<ul class="selectDomain" ng-show="isOpenDomainPopup == true">
							<li class="selectDomainList" ng-repeat="domain in domainList" ng-click="applyDomain($index)">
								<span class="selectDomainListTxt" ng-class="{'selected' : curDomainIdx == $index}">{{domain}}</span>
								<img src="/resources/image/ic_check_select.png" ng-show="curDomainIdx == $index">
							</li>
						</ul>
	 					
 					</div>
				</div>
				<div class="wrap_login_renewal_elem_box pw_box">
					<p class="login_renewal_elem_box_pwlabel">Password</p>
 					<div class="login_renewal_elem_box_pw_write">
	 					<input type="password" ng-model="general_pw" placeholder="{{translateLanguageLoginPage('hallam_require_password')}}" class="login_renewal_box_pw_write">
 					</div>
				</div>
			</div>
		</div>
		<div class="btn_generaLogin_wrapper">
			<button type="button" class="btn_generalLogin" ng-click="performGeneralLogin()">Login</button>
		</div>
		<div class="wrap_simple_login_btn" ng-show="isPinLogin==true">
			<div class="AutoLoginDiv" ng-click="autoLoginCheck=!autoLoginCheck;LoginCheckChange()">
				<div class="AutologinCheck">
					<img src="/resources/image/mail/selectbox-square-off.png" ng-show="autoLoginCheck != true" class=""> 
					<img src="/resources/image/mail/selectbox-square-on.png" ng-show="autoLoginCheck == true" class="ng-hide">
				</div>
				<span>{{translateLanguageLoginPage('auto_login')}}</span>
			</div>
			
			<a class="wrap_simple_login" ng-click="togglePinLoginPopup()">{{translateLanguageLoginPage('hallam_reset_lock_password')}}</a>
		</div>
		<div class="wrap_simple_login_btn" ng-show="isPinLogin!=true">
			<span>&nbsp</span>
		</div>
		
	</div>
	
	<div class="simple_login_settings_popup_div" ng-show="isShowLoginPopup == true"><!--  -->
		<div class="simple_login_settings_popup">
			<div class="simple_login_settings_popup_top">
				<span class="simple_login_settings_top_label">{{translateLanguageLoginPage('hallam_reset_lock_password')}}</span>
				<p class="simple_login_settings_top_notice">{{translateLanguageLoginPage('setting_pin_password_text1')}}
				<br/>{{translateLanguageLoginPage('setting_pin_password_text2')}}</p>
			</div>
			<div class="simple_login_settings_contents_wrapper">
				<div class="settings_contents_identify_box">
					<input type="text" ng-model="pin_input_id" placeholder="Login ID" class="settings_contents_identify_write"
						ng-focus="doFocusLayout()" ng-blur="doBlurLayout()">
					<span class="settings_contents_email">@Halla.com</span>
				</div>
				<div class="settings_contents_pw_box">
					<input type="password" ng-model="pin_input_pwd" placeholder="Password" class="settings_contents_pw_write">
				</div>
			</div>
			<div class="simple_login_settings_behavior_btn">
				<a class="settings_behavior_btn_cancel" ng-click="togglePinLoginPopup()">{{translateLanguageLoginPage('cancel')}}</a>
				<a class="settings_behavior_btn_check" ng-click="checkPinLoginValidate()">{{translateLanguageLoginPage('ok')}}</a>
			</div>
		</div>
	</div>
	<div class="simple_passwd_settings_popup_div" ng-show="isShowPinInputPopup == true"><!--  -->
		<div class="simple_passwd_settings_popup">
			<div class="simple_passwd_settings_popup_top">
				<span class="simple_passwd_settings_top_label">{{translateLanguageLoginPage('hallam_reset_lock_password')}}</span>
				<p class="simple_passwd_settings_top_notice">{{translateLanguageLoginPage('input_user_pin_number_text')}}</p>
			</div>
			<div class="simple_passwd_settings_contents_wrapper">
				<div class="passwd_settings_box" ng-click="performClickPinInput()">
					<input type="number" class="passwd_settings_box_write" id="input_pin_number" maxlength="6" 
						ng-focus="doFocusLayout()" ng-blur="doBlurLayout()"
						pattern="[0-9]*" inputmode="numeric" min="0">
					<div class="passwd_settings_six_box">
						<span class="passwd_settings_six_write"></span>
						<span class="passwd_settings_six_write"></span><!-- <span class="passwd_write_circle"> -->
						<span class="passwd_settings_six_write"></span>
						<span class="passwd_settings_six_write"></span>
						<span class="passwd_settings_six_write"></span>
						<span class="passwd_settings_six_write"></span>
					</div>
				</div>
			</div>
			<div class="simple_passwd_settings_behavior_btn">
				<a class="passwd_settings_behavior_btn_cancel" ng-click="togglePinInputPopup()">{{translateLanguageLoginPage('cancel')}}</a>
				<a class="passwd_settings_behavior_btn_check" ng-click="setPinNumber()">{{translateLanguageLoginPage('ok')}}</a>
			</div>
		</div>
	</div>
	
</div>