<!-- 한라-->
<!-- <div class="mainContainer" id="mainListController" ng-controller="mainListController"
	ng-show="userCompMainView == 'halla'" ng-include="'/html/app/news/halla_news.html'"></div> -->

<!-- 홀딩스 -->	
<div class="mainContainer" id="mainListController" ng-controller="mainListController"
	ng-show="userCompMainView == 'holdings'" ng-include="'/html/app/news/holdings_news.html'"></div>

<!-- 만도 -->	
<div class="mainContainer" id="mainListController" ng-controller="mainListController"
	ng-show="userCompMainView == 'mando'" ng-include="'/html/app/news/mando_news.html'"></div>
