@charset "UTF-8";

/* global tag configuration */
*{-webkit-tap-highlight-color:transparent}
*:focus{outline:none}
@font-face {font-family:'spoqa';font-weight:400;src:url(/resources/fonts/spoqa/Spoqa-Regular.woff) format('woff'),url(/resources/fonts/spoqa/Spoqa-Regular.ttf) format('truetype');}

html, body{position:relative;width:100vw;height:100vh;margin:0;padding:0;font-family:'spoqa';-webkit-overflow-scrolling:touch;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

#pg_login{margin:0 auto;background:url('/resources/image/bg/login/login_bg_halla_1.jpg') no-repeat;background-size:100%}
#pg_login.success{margin:0 auto;background:url('/resources/image/bg/login/login_bg_halla_2.jpg') no-repeat;background-size:100%}
.login_wrapper{position:relative;width:100vw;height:100vh}
.wrap_login_logo{width:60%;margin:30% auto 10% auto}
.wrap_login_logo img.logo{width:80%}
.wrap_login_logo span.description{display:block;font-size:4vw;color:#FFF}
.wrap_login_area{position:absolute;top:65%;left:48%;width:85vw;margin-left:-44vw;padding:4vw;transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);-moz-transform:translateY(-50%)}
.wrap_login_area .wrap_copyright{display:block;margin-top:3vw;color:#706f6f;font-size:3vw;text-align:center}
.wrap_login_area .wrap_copyright a{color:#706f6f;font-size:3vw;text-decoration:none}
.subwrap_login_area img.ic_login_logo{height:10vw}
.subwrap_login_area{margin-top:2vw;padding:4vw;border-radius:1vw;background-color:#FFF;-webkit-box-shadow:0px 0px 20px 5px rgba(197,197,197,1);-moz-box-shadow:0px 0px 20px 5px rgba(197,197,197,1);box-shadow:0px 0px 20px 5px rgba(197,197,197,1)}

.btn_download{display:inline-block;width:94%;padding:3%}
.btn_download img{width:100%}

.wrap_login_area .wrap_title_area{font-size: 5vw;margin-left: 11vw;color: #164193;font-weight: bold;}

.wrap_title_area{font-size: 5vw;margin-left: 11vw;}

/** login_renewal start **/
/*.wrap_login_area.focused{transform:translateY(-110%);-ms-transform:translateY(-110%);-webkit-transform:translateY(-110%);-o-transform:translateY(-110%);-moz-transform:translateY(-110%)}*/
.login_wrapper .wrap_login_renewal_elem{position:relative;}
.login_wrapper .wrap_login_renewal_elem_box{margin-top:2vw; margin-bottom:4vw;}
.login_wrapper .wrap_login_renewal_elem_box.pw_box{margin-top:3.3334vw}
.login_wrapper .login_renewal_elem_box_loginlabel{font-size:3.3334vw;font-weight:bold;color:#717883;margin:0}
.login_wrapper .login_renewal_elem_box_pwlabel{font-size:3.3334vw;font-weight:bold;color:#717883;margin:0}
.login_wrapper .login_renewal_elem_box_write{position:relative;width:100%;border-bottom:1px solid #BCBEC1}
.login_wrapper .login_renewal_elem_box_write .selectDomain{position: absolute;right: 0vw;background: #fff;z-index: 2000;border-radius: 8px;border: 1px solid #CFD3DA;display: inline-block;width: 55%;top: 3.5vw;padding: 0.834vw 0;list-style-type: none;}
.login_renewal_elem_box_write .selectDomain .selectDomainList{position: relative;padding: 2.2vw 3.45vw;cursor: pointer;}
.login_renewal_elem_box_write .selectDomain .selectDomainList .selectDomainListTxt{font-size: 4vw;color: #2B2F3B;}
.login_renewal_elem_box_write .selectDomain .selectDomainList .selectDomainListTxt.selected{font-weight:bold;color: #4E86FF;}
.login_renewal_elem_box_write .selectDomain .selectDomainList img{position: absolute;top: 51%;right: 5%;transform: translateY(-50%);width: 3.1vw;}
.login_wrapper .login_renewal_elem_box_pw_write{position:relative;width:100%;border-bottom:1px solid #BCBEC1}
.login_wrapper .login_renewal_box_write{border:none;width:66%;padding:3vw 0;font-size:3.8vw}
.login_wrapper .login_renewal_box_pw_write{border:none;width:100%;padding:3vw 0;font-size:3.8vw}
.login_wrapper .login_renewal_elem_email{position:absolute;top:2vw;right:0;display:inline-block;font-size:3.8vw;font-weight:400;color:#2B2F3B;font-weight:bold;}
.login_wrapper .btn_generaLogin_wrapper{margin-top:4.4445vw}
.login_wrapper .btn_generalLogin{display:block;width:100%;padding:4.306vw 0;border:1px solid #164193;border-radius:1vw;background:none;background-color:#164193;color:#FFF;font-size:3.5vw}
