<!-- <div class="dialog_topper_tab" ng-click="selectApprovalTab(0)" ng-class="{'selected' : tabIdx == 0}">
		<p ng-class="{'selected' : tabIdx == 0}">{{translateLanguage('approval_user_line')}}</p>
</div>
<div class="dialog_topper_tab" ng-click="selectApprovalTab(1)" ng-class="{'selected' : tabIdx == 1}">
	<p ng-class="{'selected' : tabIdx == 1}">{{translateLanguage('approval_user_cc')}}</p>
</div> -->
<div class="companyTabWrapper">
	<div class="topTab">
		<div class="topTabButtonFood" ng-class="{'selected'}" >식단정보</div>
		<div class="topTabButtonCar" ng-class="{'selected'}" >버스배차</div>
	</div>
	<div class="bottomTab">
		<span>평택</span>
		<span>원주</span>
		<span>익산</span>
		<span>Globak R&D</span>
	</div>
</div>