<div class="companyTabWrapper">
	<div class="topTab">
		<div class="topTabButtonFood" ng-click=toggleMandoCompanyTab(1) ng-class="{'selected' : mandoCompanyTabId == 1 }" >
			<img src="/resources/image/main/ic_food_on.png" ng-show="mandoCompanyTabId == 1">
			<img src="/resources/image/main/ic_food_off.png" ng-show="mandoCompanyTabId != 1">
			<span>식단정보</span>
		</div>
		<div class="topTabButtonCar" ng-click=toggleMandoCompanyTab(2) ng-class="{'selected' : mandoCompanyTabId == 2 }" >
			<img src="/resources/image/main/ic_car_on.png" ng-show="mandoCompanyTabId == 2">
			<img src="/resources/image/main/ic_car_off.png" ng-show="mandoCompanyTabId != 2">
			<span>버스배차</span>
		</div>
	</div>
	<div class="bottomTab" >
		<span ng-click="selectBottomArea('PyeongTaek')">평택</span>
		<span ng-click="selectBottomArea('Wonju')">원주</span>
		<span ng-click="selectBottomArea('Iksan')" ng-show="mandoCompanyTabId == 1">익산</span>
		<span ng-click="selectBottomArea('Global')">Globak R&D</span>
	</div>
</div>