<?xml version="1.0"?>
<configuration>
	<system.web>
		<customErrors mode="Off"></customErrors>
		<httpRuntime executionTimeout="18000" maxRequestLength="2048000"/>
		<!-- <identity impersonate="true" userName="dext5" password="1"/> -->
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength ="2000000000" />
			</requestFiltering>
		</security>
	</system.webServer>
   

</configuration>

