<div class="workDiaryContainer" ng-controller="diaryScheduelController">
	<!-- 헤더바 -->
	<div class="headerBar">
		<div class="headerBarMenu"  ng-click="slideMenuClick()">
			<img src="/resources/image/menu_img.png">
		</div>
		<div class="headerBarTitle diaryDrop" ng-click="scheduleDateSelectBtn($event)">
			<span>{{currentYear}}. {{currentMonth}}</span>
			<img src="/resources/image/work_diary/drop_option.png">
		</div>
		<div class="headerBarSearch workDiarySearch" ng-click="scheduleSearchBtn($event)">
			<img src="/resources/image/work_diary/ic_menu_search_normal.png">
		</div>
		<div class="headerBarSend workDiaryWrite" ng-click="btnShowScheduleWrite()">
			<img src="/resources/image/work_diary/ic_menu_send_normal.png">
		</div>
		<!-- <div class="headerUnderBar diaryUnderHeight diaryDropBar"></div> -->
	</div>
	
	<!-- Search -->
	<div class="diarySearchDiv" ng-show="isShowScheduleSearch">
		<div class="diaryRecentTime">
			<div class="diaryFirstTime">
				<!-- <input type="text" placeholder="2018. 10. 1." readonly="readonly">
				<img src="/resources/image/calendar.png">
				 -->
				<input type="text" class="txtDateSearch" ng-model="txtSearchStart" ng-trim="true">
				<img src="/resources/image/calendar.png">
			</div>
			<div class="diarySecondTime">
				<!-- <input type="text" placeholder="2018. 10. 31." readonly="readonly">
				<img src="/resources/image/calendar.png">
				 -->
				<input type="text" class="txtDateSearch" ng-model="txtSearchEnd" ng-trim="true">
			<img src="/resources/image/calendar.png">
			</div>
		</div>
		<div class="diarySelectOption">
			<div class="diarySelectWrap">
				<select name="diarySelectName" class="diarySelectMenu" ng-model="searchType" ng-change="applySearchType(SearchType)">
					<option ng-repeat="type in SearchTypeOptions" value="{{type.name}}">{{type.value}}</option>
				</select>
				<select name="diarySelectName" class="diarySelectMenu">
				<option value=''>전체</option>
				<option value=''>제목</option>
				<option value=''>본문</option>
				<option value=''>제목+본문</option>
				<option value=''>발신자</option>
			</select>
				<select name="diarySelectName" class="diarySelectMenu">
				<option value=''>{{translateLanguage('all')}}</option>
				<option value=''>{{translateLanguage('subject')}}</option>
				<option value=''>{{translateLanguage('body')}}</option>
				<option value=''>{{translateLanguage('subjectbody')}}</option>
				<option value=''>{{translateLanguage('sender')}}</option>
			</select>
			</div>
			<div class="diarySearchKeyword">
				<input type="text" ng-model="searchValue" ng-trim="true" placeholder="검색어를 입력하세요">
				<img src="/resources/image/board/ic_search_normal.png" ng-click="btnSearchSchedule()" >
				<input type="text" placeholder="검색어를 입력하세요">
				<img src="/resources/image/board/ic_search_normal.png" >
				<input type="text" placeholder={{translateLanguage('warn_input_message')}}>
				<img src="/resources/image/board/ic_search_normal.png" >
			</div>
		</div>
	</div>
	<div class="workDiarySearchBack" ng-show="isShowScheduleSearch" ng-click="toggleScheduleSearch()"></div>
	<div class="workDiaryDataVoid">
		<span class="workDiarySearchResult">{{translateLanguage('warn_empty_message')}}</span>
		<span class="searchResultBlank"></span>
	</div>
	<!-- <div class="planListDiv" ng-show="isShowScheduleSearch">
		<div class="planListContents">
			<span>테스트2(테스트유저5)</span>
			<p>2018-10-24 ~ 2018-10-24</p>
		</div>
	</div> -->
	<!-- Search End-->
	
	<!-- Select Date -->
	<div class="diaryDateDrop" ng-show="isShowSelectDate">
		<div class="diaryDateDiv">
			<div class="dateYearDiv">
				<span>2017</span>
				<span>9</span>
			</div>
			<div class="dateYearDiv">
				<span>2018</span>
				<span>10</span>
			</div>
			<div class="dateYearDiv">
				<span>2019</span>
				<span>11</span>
			</div>
		</div>
		<div class="diaryBtnDiv">
			<div class="diaryCancelBtn" ng-click="scheduleDateSelectBtn($event)">{{translateLanguage('cancel')}}</div>
			<div class="diarySearchBtn">{{translateLanguage('search')}}</div>
		</div>
	</div>
	<!-- Select Date End -->
	
	<div class="workDiaryDataVoid">
		<span class="workDiarySearchResult">{{translateLanguage('warn_empty_message')}}</span>
		<span class="searchResultBlank"></span>
	</div>	
	<div class="workDiaryContents">
		<div id="calendar" ng-show="isCalendarSearch == false"></div>
		<div id="calendarSearchResult" ng-show="isCalendarSearch == true">
			<div class="wrapSearchElem" ng-repeat="elem in arrSearchResult">
				<div class="btnColorBullet">
					<span style="background-color:#{{elem.Color}}"></span>
				</div>
				<div class="wrapSearchContents">
					<strong>{{elem.Title}}</strong><br>
					<span>
						{{elem.StartDate}} ~ {{elem.EndDate}} 
					</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="workDiaryBottomWrap">
		<span class="diaryTodayBtn" ng-click="btnScheduleToday()">{{translateLanguage('today')}}</span>
		<div class="diaryRightBtn">
			<span ng-click="btnShowShareCalendar()">{{translateLanguage('work_schedule_share_calendar')}}</span>
			<span ng-click="btnShowShareUser()"> {{translateLanguage('work_schedule_cc')}}</span>
		</div>
	</div>
	
	<div class="dlgScheduleDetail" ng-show="isDlgScheduleDetail == true">
		<div class="wrapDlgScheduleDetail">
			<div class="dlgScheduleDetailHeader">
				일정 보기
				<a class="btnScheduleWrite" ng-click="btnShowScheduleWrite()">+</a>
			</div>
			<div class="dlgScheduleDetailBody">
				<div class="wrapSelectedDate">
					{{currSelectedDate}}
				</div>
 				<ul>
					<li ng-repeat="schedule in currSelectedScheduleList">
						<span class="bullet_schedule" style="background-color:#{{schedule.Color}}"></span>
						<span class="wrap_schedule_detail">
							<span class="schedule_title">{{schedule.Title}}</span><br>
							<span class="schedule_date_range">{{schedule.StartDate}} ~ {{schedule.EndDate}}</span>
						</span>
					</li>
				</ul>
 			</div>
			<div class="dlgScheduleDetailFooter">
				<a ng-click="dismissDlgScheduleDetail($event)">확인</a>
			</div>
		</div>
	</div>
	
	<div class="dlgShareCalendar" ng-show="isDlgShareCalendar == true">
		<div class="wrapDlgShareCalendar">
			<div class="dlgShareCalendarHeader">
				공유 칼렌더
				<a class="btnCalendarClose" ng-click="dismissDlgShareCalendar($event)">X</a>
			</div>
			<div class="dlgShareCalendarBody">
				<div class="wrapShareCalendar" ng-repeat="cal in arrShareCalendar" ng-click="btnToggleShareCalendar(cal)">
					<div class="wrapShareCalendarSelect">
						<div ng-class="{'selected' : cal.IsChecked == true}"></div>
						<img src="/resources/image/checked_white.png">
					</div>
					<div class="wrapShareCalendarContents">
						{{cal.Name}}
					</div>
				</div>
 			</div>
			<div class="dlgShareCalendarFooter">
				<a ng-click="applyShareCalendar($event)">적용</a>
			</div>
		</div>
	</div>
	
	<div class="dialogShareCalendarBase" ng-show="isDlgShareUser == true">
		<div class="dialogShareCalendar">
			<div class="dialogShareCalendarTop">
				일정참고자
				<img src="/resources/image/ic-delete.png" ng-click="dismissDlgShareUser($event)">
			</div>
			<div class="dialogShareCalendarWrap">
				<!-- 
				<div class="wrapShareUser" ng-repeat="user in arrShareUser" ng-click="btnToggleShareUser(user)">
					<div class="wrapShareUserSelect">
						<div ng-class="{'selected' : user.IsChecked == true}"></div>
						<img src="/resources/image/checked_white.png">
					</div>
					<div class="wrapShareUserContents">
						{{user.Name}}
					</div>
				</div>
				-->
 			</div>
			<div class="dialogShareCalendarCheck">
				<div class="dialogShareCalendarBtn">
					<a ng-click="addShareUser($event)">추가</a>
					<a ng-click="applyShareUser($event)">적용</a>
				</div>
			</div>
		</div>
	</div>
</div>