<div class="settingsContainer" id="settingFontsController" ng-controller="settingFontsController">
	<!-- 헤더바 -->
	<div class="headerBar">
		<div class="headerBarBack">
			<img src="/resources/image/ic-arrow-left.png" ng-click="popPage('pg_setting_fonts')">
		</div>
		<div class="headerBarTitle prevPageTitle">
			<span>글자크기 설정</span>
		</div>
		<div class="headerBarClose" ng-click="setFonts()">
			<span>{{translateLanguage('ok')}}</span>
		</div>
		<div class="headerBarSearch approval_search">
			
		</div>
		<div class="headerUnderBar"></div>
	</div>
	<div class="settingsLangWrap">
		<span class="settingsLangTitle">글자크기 설정</span>
		<div class="settingsLangContainer">
			<div class="settingsLangList" ng-repeat="fonts in fontsizeList" ng-click="btnSelectFont($index)">
				<span>{{fonts.name}}</span>
				<img src="/resources/image/selectbox-circle-on.png" ng-show="curIdx == $index">
				<img src="/resources/image/selectbox-circle-off.png" ng-show="curIdx != $index">
			</div>
		</div>
		
	</div>
	
</div>