<div class="settingsContainer" id="settingMainpageController" ng-controller="settingMainpageController">
	<!-- 헤더바 -->
	<div class="headerBar">
		<div class="headerBarBack">
			<img src="/resources/image/ic-arrow-left.png" ng-click="popPage('pg_setting_mainpage')">
		</div>
		<div class="headerBarTitle prevPageTitle">
			<span>{{translateLanguage('main_setting')}}</span>
		</div>
		<div class="headerBarClose" ng-click="setMainpage()">
			<!-- <img src="/resources/image/ic-close.png"> -->
			<span>{{translateLanguage('ok')}}</span>
		</div>
		<div class="headerBarSearch approval_search">
			
		</div>
		<div class="headerUnderBar"></div>
	</div>
	<div class="settingsMainpageWrap">
		<span class="settingsMainpageTitle">{{translateLanguage('main_setting')}}</span>
		<div class="settingsMainpageContainer">
			<div class="settingsMainpageList" ng-repeat="mainpage in mainpageList" ng-click="btnSelectMainpage($index)">
				<span >{{mainpage.name}}</span>
				<img src="/resources/image/selectbox-circle-on.png" ng-show="curIdx == $index">
				<img src="/resources/image/selectbox-circle-off.png" ng-show="curIdx != $index">
			</div>
		</div>
	</div>
	
</div>