<div class="workDiaryContainer" id="diaryScheduelController" ng-controller="diaryScheduelController" >
	<!-- 헤더바 -->
	<div class="headerBar">
		<div class="headerBarMenu" ng-click="slideMenuClick($event,true)">
			<img src="/resources/image/ic-menu.png">
		</div>
		
		<!--
		<div class="headerBarTitle diaryDrop" ng-click="scheduleDateSelectBtn($event)">
			<span>{{currentYear}}. {{currentMonth}}</span>
			<img src="/resources/image/work_diary/drop_option_black.png">
		</div>
		-->
		
		<div class="headerBarTitle diaryDrop" ng-click="chooseSearchDate('end')">
			<span style="cursor: pointer">{{currentYear}}. {{currentMonth}}</span>
			<!-- <input type="text" readonly="readonly" class="txtDateSearch" ng-model="txtCurrentDate" ng-trim="true" /> -->
			<img src="/resources/image/work_diary/drop_option_black.png">
		</div>
		
		<!--
		<div class="headerBarTitle diaryDrop" ng-click="chooseSearchDate('end')" >
			<input type="text" placeholder="2019.02.14" readonly="readonly" ng-model=txtSearchEnd" ng-trim="true" > 
			<img src="/resources/image/work_diary/drop_option_black.png">
		</div>
		-->
			<!-- <input type="text" placeholder="2019.02.14" readonly="readonly" ng-model=txtSearchEnd" ng-trim="true" >  -->
		
		<div class="headerBarSearch workDiarySearch" ng-click="scheduleSearchBtn($event)">
			<img src="/resources/image/mail_ic-search.png">
		</div>
		<div class="headerBarSend workDiaryWrite" ng-click="btnShowScheduleWrite()">
			<img src="/resources/image/work_diary/ic-writing.png">
		</div>
		<div class="headerUnderBar"></div>
		<!-- <div class="headerUnderBar diaryUnderHeight diaryDropBar"></div> -->
	</div>
	
	<!-- 날짜 선택창 시작 -->
	<div class="diaryDateDrop" ng-show="isShowSelectDate">
		<div class="diaryDateDiv">
			<div class="dateYearDiv">
				<span>2017</span>
				<span>9</span>
			</div>
			<div class="dateYearDiv">
				<span>2018</span>
				<span>10</span>
			</div>
			<div class="dateYearDiv">
				<span>2019</span>
				<span>11</span>
			</div>
		</div>
		<div class="diaryBtnDiv">
			<div class="diaryCancelBtn">{{translateLanguage('cancel')}}</div>
			<div class="diarySearchBtn">{{translateLanguage('search')}}</div>
		</div>
	</div>	
	<!-- 날짜 선택창 끝 -->
	
	<!-- 검색 -->
	<div class="workDiarySearchBack"></div>
	<div class="workDiaryDataVoid">
		<span class="workDiarySearchResult">{{translateLanguage('warn_empty_message')}}</span>
		<span class="searchResultBlank"></span>
	</div>
	
	<div class="diarysearchDivBase" ng-show="isShowScheduleSearch == true ">
	
			<div class="diarySearchDiv" >		
				<div class="diarySearchDate">
					<div class="diarySearchStart" ng-click="chooseSearchDate('start')">
						<img src="/resources/image/mail/ic-calendar.png"> <input type="text" readonly="readonly" class="txtDateSearch ng-pristine ng-valid" ng-model="txtSearchStart" ng-trim="true">
					</div>
					<div class="diarySwungDash">~</div>
					<div class="diarySearchEnd" ng-click="chooseSearchDate('end')">
						<img src="/resources/image/mail/ic-calendar.png"> <input type="text" readonly="readonly" class="txtDateSearch ng-pristine ng-valid" ng-model="txtSearchEnd" ng-trim="true">
					</div>
			</div>
			
			<div class="diarySearchOption" ng-click="searchOption()"><!-- ng-click="searchOption()" -->
				<ul class="diarySearchSelect">
					<li class="diarySelectFirst"><span class="selectFirstName">{{searchName}}</span>
						<img src="/resources/image/mail/ic-select-arrow-bottom.png">
						
						<ul class="selectSearch" ng-show="searchOptionShow == true">
							<li class="selectSearchList"
								ng-repeat="SearchTypeOption in SearchTypeOptions"
								ng-click="applySearchType($index)"><span
								class="selectListTxt"
								ng-class="{'selected' : curSearchType == $index}">{{SearchTypeOption.name}}</span>
								<img src="/resources/image/ic_check_select.png"
								ng-show="curSearchType == $index"></li>
						</ul>
						
						<!-- <select name="selectSearchSelect" class="selectSearchSelect" ng-model="searchType" ng-change="applySearchType(searchType)" 
							style="width: 80%;height: 100%;background-color: #E4E7EB;margin-left: 10px;border-width: 0px;">
							<option value='All'>전체</option>
							<option value='Title'>제목</option>
							<option value='Body'>본문</option>
							<option value='Sender'>발신자</option>
							<option value='TitleBody'>제목+본문</option>
							<option ng-repeat="type in SearchTypeOptions" value="{{type.name}}">{{type.value}}</option>
						</select> -->
					</li>
				</ul>
			</div>
			
			<div class="diarySearchKeyword">
				<input type="text" ng-model="searchValue" placeholder="{{translateLanguage('search_hint')}}">
				<button ng-click="btnSearchSchedule()">{{translateLanguage('search')}}</button>
				<!-- ng-model="SearchValue" ng-trim="true"
				ng-click="btnSearchMail()" -->
			</div>
		</div>	
		
		<div class="calender_search_base">
			<div id="calendarSearchResult" class="calendar_search_result" ng-show="isCalendarSearch == true">
				<div class="wrapSearchElem" ng-repeat="elem in arrSearchResult" ng-click="Btn_Schedule_View(elem)">
					<div class="btnColorBullet">
						<span style="background-color:#{{elem.Color}}"></span>
					</div>
					<div class="wrapSearchContents">
						<strong>{{elem.Title}}</strong><br>
						<span>
							{{elem.StartDate}} ~ {{elem.EndDate}} 
						</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>	
	<!-- 검색 끝 -->
	
	<div class="workDiaryContents" >
		<div class="diaryCalenderTab" style="height:100%" >
			<ul class="diaryCalendarList">
				<li><a class="sunTextColor">{{dayOfWeekArr[0]}}</a></li>
				<li><a>{{dayOfWeekArr[1]}}</a></li>
				<li><a>{{dayOfWeekArr[2]}}</a></li>
				<li><a>{{dayOfWeekArr[3]}}</a></li>
				<li><a>{{dayOfWeekArr[4]}}</a></li>
				<li><a>{{dayOfWeekArr[5]}}</a></li>
				<li><a class="satTextColor">{{dayOfWeekArr[6]}}</a></li>
<!-- 				<li><a class="sunTextColor">{{translateLanguage('week_sun')}}</a></li>
				<li><a>{{translateLanguage('week_mon')}}</a></li>
				<li><a>{{translateLanguage('week_tues')}}</a></li>
				<li><a>{{translateLanguage('week_wednes')}}</a></li>
				<li><a>{{translateLanguage('week_thurs')}}</a></li>
				<li><a>{{translateLanguage('week_fri')}}</a></li>
				<li><a class="satTextColor">{{translateLanguage('week_satur')}}</a></li> -->
			</ul>

			<div id="calendar" ng-show="isCalendarSearch == false" style="height:97%"></div>
			
			
		</div>
	</div>
	
	<div class="workDiaryBottomWrap">
		<div class="diaryRightBtn">
			<span class="diaryTodayBtn" ng-click="btnScheduleToday()"><a>{{translateLanguage('today')}}</a></span>
			<span class="diaryCalendarBtn" ng-click="btnShowShareCalendar()"><a>{{translateLanguage('share_calendar')}}</a></span>
			<span class="diaryShareUser" ng-click="btnShowShareUser()"><a>{{translateLanguage('work_schedule_cc')}}</a></span>
		</div>
	</div>
	
	<!-- 일정보기 다이얼로그 시작 -->
	<div class="dialogScheduleViewingBase" ng-show="isDlgScheduleDetail == true">
		<div class="dialogScheduleViewing">
			<div class="dialogScheduleViewingTop">
				<span>{{translateLanguage('work_schedule_view')}}</span>
				<div class="dialogScheduleAdd" ng-click="btnShowScheduleWrite_Time()">{{translateLanguage('work_schedule_add')}}</div>
			</div>
			<div class="dialogScheduleDate">
				<!-- <span>2018.12.26 (수)</span> -->
				 <span>{{currSelectedDate}}</span>
			</div>
			<div class="dialogScheduleViewingWrap">
				<div class="dialogScheduleViewingContents">
					<div class="dialogScheduleViewingList" ng-repeat="schedule in currSelectedScheduleList" ng-click="Btn_Schedule_View(schedule)">
						<div class="scheduleViewingListLabel" style="background-color:#{{schedule.Color}}"></div>
						<div class="scheduleViewingListText">
							<span>{{schedule.Title}}</span>
							<p>{{schedule.StartDate}} ~ {{schedule.EndDate}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="dialogScheduleViewingCheck">
				<div class="dialogScheduleViewingBtn">
					<a><span class="dialogScheduleViewingAction" ng-click="dismissDlgScheduleDetail($event)">{{translateLanguage('ok')}}</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- 일정보기 다이얼로그 끝 -->
	
	<!-- 공유캘린더 다이얼로그 시작 -->
	<div class="dialogShareCalendarBase" ng-show="isDlgShareCalendar == true">
		<div class="dialogShareCalendar">
			<div class="dialogShareCalendarTop">
				<span>{{translateLanguage('share_calendar')}}</span>
				<img src="/resources/image/ic-delete.png" ng-click="dismissDlgShareCalendar($event)">
			</div>
			<div class="dialogShareCalendarWrap">
				<div class="dialogShareCalendarContents" ng-repeat="cal in arrShareCalendar" ng-click="btnToggleShareCalendar(cal)">
					<div class="dialogCalendarList">
						<img src="/resources/image/selectbox-square-on.png" ng-show="cal.IsChecked==true">
						<img src="/resources/image/selectbox-square-off.png" ng-show="cal.IsChecked==false">
						<span>{{cal.Name}}</span>
					</div>
				</div>
			</div>
			<div class="dialogShareCalendarCheck">
				<div class="dialogShareCalendarBtn">
					<a><span class="dialogShareCalendarAction" ng-click="applyShareCalendar($event)">{{translateLanguage('ok')}}</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- 공유캘린더 다이얼로그 끝 -->
	
	<!-- 일정참고자 다이얼로그 시작 -->
	<div class="dialogShareCalendarBase" ng-show="isDlgShareUser == true">
		<div class="dialogShareCalendar">
			<div class="dialogShareCalendarTop">
				<span>{{translateLanguage('work_schedule_cc')}}</span>
				<img src="/resources/image/ic-delete.png" ng-click="dismissDlgShareUser($event)">
			</div>
			<div class="dialogShareCalendarWrap">
				<div class="dialogShareCalendarContents" ng-repeat="user in arrShareUser" >
					<div class="dialogCalendarList">
						<div ng-click="btnToggleShareUser(user)">
							<img src="/resources/image/selectbox-square-on.png" ng-show="user.IsChecked == true">
							<img src="/resources/image/selectbox-square-off.png" ng-show="user.IsChecked != true">
							<span class="wrapShareUserInfo">
								<span>{{user.UserName}}</span>
								<span>{{user.EmailAddress}}</span>
							</span>
							<span class="wrapShareUserExit">
								<img ng-click="btnRemoveShareUser($index)" src="/resources/image/icon/ic_remove_normal.png">
							</span>
						</div>
						
					</div>
					
				</div>
 			</div>
			<div class="dialogShareCalendarCheckDb">
				<div class="dialogShareCalendarBtn">
					<a><span ng-click="addShareUser($event, 'ShareUser')" class="dialogShareCalendarAction">{{translateLanguage('add')}}</span></a>
				</div>
				<div class="dialogShareCalendarBtn">
					<a><span ng-click="applyShareUser($event)" class="dialogShareCalendarAction">{{translateLanguage('apply')}}</span></a>
				</div>
			</div>
		</div>
	</div>	
	<!-- 일정참고자 다이얼로그 끝 -->
</div>